WebTools/Properties/PublishProfiles/Localhost.pubxml
WebTools/Properties/PublishProfiles/Localhost.pubxml.user
bin/
WebTools/bin/
WebTools/node_modules/
WebTools/src/**/*.js
WebTools/dist/infinity.js
.DS_Store
/.vs/WebTools-Infinity
/packages
/WebTools/obj
