.skill-container,
.skill-container-option {
    width: 300px;
    height: auto;
}

.skill-name {
    font-size: 20px;
    margin-bottom: 2px;
    border-bottom: 1px solid rgba(95, 100, 62, 0.2);
}

.skill-expertise,
.skill-focus {
    font-size: 16px;
    padding-left: 20px !important;
}

.skill-expertise-value,
.skill-focus-value {
    font-size: 16px;
    text-align: center;
    padding-right: 4px;
}

.skill-points {
    font-size: 14px;
    margin-left: auto;
    margin-right: 0px;
    background-color: white;
}

.skill-inc-expertise,
.skill-inc-focus {
    transform: translateY(2px);
    cursor: pointer;
}

#signature-skill {
    width: 200px;
}

.legendary {
    background-color: #0c3956;
    color: white;
    padding: 2px 4px 2px 4px;
    float: right;
}

.signature {
    background-color: #ce452b;
    color: white;
    padding: 2px 5px 2px 5px;
    float: right;
    border-radius: 4px;
    font-size: small;
}